@import 'variables';

.fruits-chart-container {
  background: $contentColor;
  border-bottom: $border;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  padding: 30px 0;
  position: relative;
  width: 460px;
  z-index: 1
}

.fruits-chart-bar-container {
  background: $barBackgroundColor;
  border: $border;
  border-radius: $borderRadius;
  flex: 1.25;
  margin-left: 20px;
}

.fruits-chart-bar {
  border-right: $border;
  display: inline-block;
  height: 100%;
  opacity: 0.5;
  transition: width 0.3s ease;
}

.fruits-chart-count {
  flex: 0.25;
  margin-right: 30px;
  text-align: right;
}

.fruits-chart-name {
  flex: 0.5;
  margin-left: 30px;
}

.fruits-chart-row {
  cursor: pointer;
  display: flex;
  line-height: 24px;
  padding: 10px 0;
  transition: background 0.3s ease;
  &.mod-active {
    background: $barHighlightColor;
  }
}

.fruits-chart-column {
  display: inline-block;
}
