@import 'variables';

html {
  background: $backgroundColor;
}

.fruits-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fruits-content {
  border: $border;
  border-radius: $borderRadius;
  margin: 30px;
}
