@import 'variables';

.fruits-list-container {
  background: $contentColor;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  box-shadow: inset 0 30px 28px -28px $shadowColor;
  height: 300px;
  padding: 30px;
  width: 400px;
  overflow-y: scroll;
}

.fruits-list-item {
  border-bottom: $border;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  &:last-child {
    border-bottom: none;
  }
}
