$backgroundColor: #F2F2F2;
$barBackgroundColor: #FCFCFC;
$barHighlightColor: #E9EFF4;
$borderColor: #DDDDDD;
$contentColor: white;
$shadowColor: rgba(0,0,0,0.08);

$borderRadius: 4px;
$border: 1px solid $borderColor;
